@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(Styles/base.css);






body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: var(--tamano-body);
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--tamano-contenedor);
}
.contenedor-principal__logo{
    width: var(--tamano-logo);
}

.contenedor-principal__enlace{
    margin-top: var(--distancia-logo);
    background-color: var(--color-boton);
    padding: var(--padding-boton);
    color: var(--color-font);
    font-family: var(--tipo-fuente);
    font-weight: var(--tipo-grosor);
    font-size: var(--tamano-fuente);
    border-radius: 24px;
}