/* BOTON NORMAL PARA PERSONALIZAR */
.pago-enlace__enlace {
  background-color: var(--color-boton);
  padding: 4px;
  font-size: 10px;
  color: white;
  margin-left: 10%;
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 5px;
}

.pago-enlace__enlace--eliminar {
  background-color: red;
}
