.terminos-condiciones__titulo-principal{
    font-size: 25px;
    font-family: var(--tipo-fuente);
    margin-top: 10px;
    text-align: center;
}

.terminos-condiciones__informacion{
    width: 90vw;
    margin: 0 auto;
    margin-top: 10px;
    text-align: justify;
    border: 1px solid var(--color-borde);
    padding: 10px;
    border-radius: 11px;
    margin-bottom: 50px;
}