.contenido-seleccion{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

.contenido__titulo-seleccion{
    font-family: var(--tipo-fuente);
    font-size: 24px;
    margin-top: 8%;
    margin-right: 55%;
}