/* CONTENEDOR PRINCIPAL */
.contenido-perfil{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

/* TITULO PRINCIPAL DE LA SECCIÓN */

.contenido-perfil__titulo-principal{
    font-size: 25px;
    font-family: var(--tipo-fuente);
    margin-top: 10px;
}

/* CONTENEDOR DE INFORMACIÓN PERSONAL */
.contenido-perfil__contenido-datos{

}
.contenido-datos__titulo{
    font-size: 15px;
    font-weight: var(--grosor-fuente);
    margin-top: 15px;
}

/* ENLACE DE MIS MEDIDAS GUARDADAS */
.contenido-arreglo__enlace-medidas{
    background-color: var(--color-fondo-encabezado);
    display: flex;
    align-items: var(--alinear-items);
    gap: 10px;
    padding: 7px;
    color: var(--color-fuente);
    font-weight: bold;
    border-radius: 7px;
}

.enlace-medidas__icono{
    width: 30px;
}

/* APARTADO DE NAVEGACIÓN DEL PERFIL */
.contenido-perfil__opciones-navegacion{
    display: flex;
    flex-direction: column;
    width: 95vw;
    gap: 10px;
}

.opciones-navegacion__titulo{
    font-size: 15px;
    font-weight: var(--grosor-fuente);
    margin-top: 15px;
}

.historial-pedidos__enlaces{
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: var(--grosor-fuente);
    color: black;
}

.enlaces__iconos{
    width: 20px;
}

.enlaces__icono{
    width: 22px;
    margin-left: 44%;
}

/* ESTILO PARA CAMBIAR MI CONTRASEÑA */
.opciones-navegacion__historial-pedidos{
    height: 20px;
}
.enlaces__cambiar-contrasena{
    font-size: 16px;
    margin-top: 5px;
}

.icono__tamano{
    width: 22px;
    margin-left: 42%;
}

/* ESTILOS PARA TERMINOS Y CONDICIONES */
.icono__terminos-tamano{
    width: 22px;
    margin-left: 35%;
}

.historial-pedidos__terminos-condiciones{
    margin-top: 5px;
}

/* ESTILOS PARA EL ENLACE DE CERRAR SESIÓN */
.contenido-perfil__cerrar-sesion{
    margin-top: 65px;
    margin-right: 62%;
    background-color: var(--color-fondo-cancelar);
    color: var(--color-fuente);
    padding: 10px;
    border-radius: 10px;
}