/* ESTILOS PARA LAS IMAGENES DE LOS DETALLES */
.informacion-detalles__imagen-bolsillo {
  width: var(--ancho-contenedores-informacion);
  height: 300px;
  position: absolute;
  top: -230px;
  border-radius: var(--borde-imagenes);
}
