.contenedor-login__iniciar-sesion{
    background: linear-gradient(#7000CE, #9057FA);
    width: var(--ancho-boton-login);
    text-align: center;
    text-decoration: none;
    color: var(--color-fuente);
    font-weight: var(--grosor-fuente);
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 3px;
    font-family: var(--tipo-fuente);
    font-size: 16px;
}