/* Utilizamos el selector universal para realizar el reseteo de margen, padding y definimos el tipo de caja */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* Ahora aplicamos las custom properties */
:root{
    /* COLORES */
    --color-boton: #6A1B9A;
    --color-fondo-formulario: linear-gradient(#6a1b9a, #2c0047);
    --color-fuente: white; 
    --color-fuente-secundario: #00c7ea;
    --color-hover-boton: linear-gradient(#9057FA, #7000CE);
    --color-fondo-recuperar: linear-gradient(#F037DE, #0C000D);
    --color-fondo-encabezado: #6A1B9A;
    --color-precio-titulos: #000000;
    --color-enlace: #00000075;
    --color-fondo-detalles: #ffffff;
    --color-parrafo-detalles: #00000077;
    --color-enlace-seleccion: black;
    --color-borde: #6A1B9A;
    /* TIPOGRAFIA */
    --tipo-fuente: "Poppins", sans-serif;
    --tamano-fuente: 20px;
    --grosor-fuente: 400;
    --tamano-fuente-formulario: 16px;
    --tamano-fuente-recuperar: 25px;
    --grosor-titulos-cards: 300;
    /* ANCHO */
    --ancho-logo: 70px;
    --ancho-contenedor-login: 400px;
    --ancho-input: 100%;
    --ancho-boton-login: 100%;
    --ancho-general: 20px;
    --ancho-lineas-formulario: 100%;
    --tamano-imagen-login: 100px; 
    /* ALTURAS */
    --tamano-header: 85px;
    --tamano-main-detalles: calc(100vh - var(--tamano-header));
    /* PADDING */
    --padding-contenedor-login: 30px;
    --padding-general: 20px;
    --padding-contenedor-encabezado: 30px;
    /* ALINEAR */
    --alinear-items: center;
    /* MARGENES */
    --margen-abajo: 20px;
    --margen-arriba: 10px;
    --distancia-titulo: 30px;
    --contenedor-distancia-titulo: 30px; 
    /* BORDES */
    --borde-contenedor-login: 29px;
}

body{
    font-family: var(--tipo-fuente);
}