/* Utilizamos el selector universal para realizar el reseteo de margen, padding y definimos el tipo de caja */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* Ahora aplicamos las custom properties */
:root{
    /* ------- ESTILOS PARA EL INDEX ------- */
    /* Tamaños y margenes */
    --tamano-body: 100vh;
    --tamano-contenedor: 500px;
    --distancia-logo: 20px;
    --tamano-logo: 280px;
    --padding-boton: 15px;
    --margen-centrado: 0 auto;
    /* COLORES */
    --color-boton: #6A1B9A;
    --color-font: #ffff;
    /* TIPOGRAFIA */
    --tipo-fuente: "Poppins", sans-serif;
    --tipo-grosor: 300;
    --tamano-fuente: 20px;

    /* ------- ESTILOS PARA EL INICIO DE SESIÓN ------- */
    /* TAMAÑO, MARGENES, PADDING */
    --alinear-items: center;
    --ancho-logo: 70px;
    --distancia-titulo: 70px;
    --padding-contenedor-login: 30px;
    --ancho-contenedor-login: 350px;
    --contenedor-distancia-titulo: 30px; 
    --ancho-lineas-formulario: 100%;
    --tamano-imagen-login: 100px; 
    --ancho-input: 100%;
    --ancho-boton-login: 100%;
    /* FUENTE */
    --grosor-fuente: 10;
    --tamano-fuente-formulario: 16px;
    /* COLORES */
    --color-fondo-formulario: linear-gradient(#6a1b9a, #2c0047);
    --color-fuente: white; 
    --color-fuente-secundario: #00c7ea;
    /* BORDES */
    --borde-contenedor-login: 29px;
}