/* SECCIÓN DEL ENCABEZADO DE LA PAGINA */
.seccion-encabezado{
    display: flex;
    flex-direction: row;
    align-items: var(--alinear-items);
    background-color: var(--color-fondo-encabezado);
    padding: var(--padding-contenedor-encabezado);
}
.seccion-encabezado__logo{
    width: var(--ancho-logo);
}

.seccion-encabezado__nombre{
    font-weight: var(--grosor-fuente);
    color: var(--color-fuente);
}

/* SECCION MAIN */
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECCIÓN BARRA DE BUSQUEDA */
.contenido__barra-busqueda{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 90vw;
}

.contenido__barra-busqueda img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4%;
    top: 50%;
    transform: translateY(-50%);
}

.contenido__barra-busqueda input{
    width: 100%;
    height: 35px;
    font-size: var(--tamano-fuente-formulario);
    border: 1px solid;
    border-radius: 23px;
    padding: 23px 44px;
    background-color: #D9D9D9;
}

/* TITULO DE CATEGORIAS */
.contenido__titulo-seccion{
    font-size: var(--tamano-fuente-titulos);
    position: absolute;
    top: 25%;
    left: 5%;
}