body{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

/* SECCIÓN SUPERIOR: se almacena el logo y nombre */

.seccion-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.seccion-logo__logo{
    width: 90px;
}

.seccion-logo__nombre{
    font-weight: 10;
}

/* SECCIÓN DE FORMULARIO */

.contenedor-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-registro__titulo{
    font-weight: 10;
    margin-top: 80px;
}

/* Contenedor Principal con fondo morado */
.contenedor-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background: linear-gradient(#6a1b9a, #2c0047); /* Un color morado similar al de la imagen */
    padding: 30px;
    width: 300px; /* Ancho de ejemplo */
    border-radius: 29px; 
}

/* Estilos de cada campo (Usuario, Contraseña) */
.contenedor-login__campo {
    width: 100%;
}

.contenedor-login__imagen{
    width: 100px;
    
}

/* Contiene el Icono y el Label/Texto */
.campo__usuario {
    display: flex; /* Alinea el ícono y el texto horizontalmente */
    align-items: center;
    color: white; /* Color del texto y el icono */
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 16px;
}

.campo__usuario .campo__usuario__icono{
    width: 20px;
    margin-right: 10px;
}

.contenedor-login__campo input {
    /* El input es el área donde escribirás */
    width: 100%;
    border: none;
    background: transparent; /* Fondo transparente para que se vea el morado */
    color: white; /* El texto que escribas será blanco */
    padding: 5px 0;
    outline: none; /* Quitar el borde de enfoque por defecto */
    font-size: 16px;
}

/* SECCION CONTRASEÑA */
.campo__contrasena{
    color: white;
}

.campo__contrasena .campo__contrasena__icono {
    margin-top: 5px;
    width: 20px;
    margin-right: 4%;
}


/* Estilo para la línea separadora */
.linea-separadora {
    height: 1px;
    width: 100;
    background-color: white; /* Color de la línea */
}


/* SECCION OLVIDAR CONTRASEÑA */
.contenedor-login__recuperar-contraseña{
    text-decoration: none;
    font-size: 15px;
    color: #00c7ea;
    margin-left: 120px;
}

/* BOTON INICIAR SESIÓN */
.contenedor-login__iniciar-sesion{
    background: linear-gradient(#7000CE, #9057FA);
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 10;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

/* SECCION REGISTRARSE */
.contenedor-login__registrarse{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.registrarse__pregunta{
    color: white;
    font-size: 15px;
    font-weight: 10;
}

.registrarse__formulario{
    text-decoration: none;
    color: #00c7ea;
}