.contenido-seleccion{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}
.contenedor-principal {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}