body{
    display: flex;
    flex-direction: column;
    font-family: var(--tipo-fuente);
}

/* CONTENEDOR PRINCIPAL DEL FORMULARIO */

.contenedor-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: var(--alinear-items);
}

/* CUADRO EN DONDE SE ENCUENTRA ALMACENADO EL FORMULARIO */

.contenedor-principal__formulario-recuperar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: var(--alinear-items);
    gap: 25px;
    background: var(--color-fondo-formulario); /* Un color morado similar al de la imagen */
    padding: var(--padding-contenedor-login);
    width: var(--ancho-contenedor-login);
    border-radius: var(--borde-contenedor-login); 
    margin-bottom: var(--margen-abajo);
    padding: 45px;
}

/* TITULO DEL FORMULARIO */

.formulario-recuperar__titulo{
    color: var(--color-fuente);
    font-size: var(--tamano-fuente-recuperar);
    font-weight: var(--grosor-fuente);
}

/* FUENTE DE MENSAJE */

.formulario-recuperar__mensaje-recuperar{
    color: var(--color-fuente);
    font-size: 15px;
    text-align: center;
}

/* CONTENEDOR DEL FORMULARIO */

.formulario-recuperar__campos{
    width: 300px;
}

/* ESTILO DE CADA CAMPO DEL FORMULARIO  */

.campos__label-codigo {
    width: 300px; 
    height: 80px; 
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    padding: 0 10px;
    margin-bottom: var(--margen-abajo);
}

.label-codigo__input-codigo {
    background-color: white; 
    width: 40px; 
    height: 50px; 
    border: none;
    font-size: 36px; 
    text-align: center; 
    font-family: sans-serif; 
}
.label-codigo__input-codigo:focus {
    outline: none;
}

