/* SECCIÓN DEL ENCABEZADO */
.contenedor-encabezado-detalles{
    background-color: var(--color-boton);
}

.contenedor-encabezado-detalles__encabezado{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    height: var(--tamano-header);
}

.encabezado__enlace{
    margin-top: 5px;
}

.enlace__imagen{
    width: 23px;
}

.encabezado__titulo{
    font-size: var(--tamano-fuente);
    color: var(--color-fuente);
    font-weight: var(--grosor-fuente);
}
/* SECCIÓN DE CONTENIDO PRINCIPAl */
.contenido-detalles{
    height: var(--tamano-main-detalles);
}
.contenido-detalles_informacion-detalles{

}