.contenedor-principal__titulo{
    font-family: var(--tipo-fuente);
    color: var(--color-fuente);
    text-align: center;
    font-weight: var(--grosor-fuente);
    font-size: 30px;
}

.formulario-recuperar__icono-confirmar{
    width: 150px;
    margin-top: 20px;
}